/* reset */
*
{
    margin:0;
    padding:0;
    border:none;
    box-sizing: border-box;
}
a
{
    text-decoration: none;
}
/* vars */
:root
{
    --color-background:black;
    --color-dark:#192842;
    --color-action:#E0D693;
    --color-light:#EEEEEE;
    --color-white:white;

    --font-standard: 'Inter', sans-serif;
    --font-title: 'Open Sans', sans-serif;
}
/* général */
html
{
    height: 100vh;
}
body
{
    min-height: 100vh;
    color:var(--color-white);
    font-family: var(--font-standard);
    font-size: 1em;
    text-align: justify;
}
header, footer
{
    background-color: var(--color-background);
}
main
{
    background-color: var(--color-dark);
}
a,
h1, h2, h3
{
    font-family: var(--font-title);
    color:var(--color-action);
    text-transform: uppercase;
}
h1
{
    margin-bottom: 0.3em;
}
p
{
    margin-bottom:1em;
}
div
{
    color: var(--color-action);
    
}

.container
{
    text-align: center;   
}

#hello
{
    position: absolute;
    left: 10%;
    top: 35%;
}

/* header */
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1em;
}
header a
{
    padding:1em 1.5em;
    background-color: var(--color-dark);
    border-radius: 2em;
    margin-right: 1em;
}
/* footer */
footer
{
    display: flex;
    align-items: center;
    padding:1em;
}
footer img
{
    width: 8em;
    margin-right: 2em;
}
footer nav a
{
    display: block;
    background-color: var(--color-dark);
    padding:0.5em 1.2em;
    border-radius: 2em;
    font-size: 0.7em;
}
footer nav a:not(:last-child)
{
    margin-bottom:0.5em;
}
/* main */
main
{
    padding:1em;
    min-height: calc(100vh - 17.9em);
}