/* reset */
*
{
    margin:0;
    padding:0;
    border:none;
    box-sizing: border-box;
}
a
{
    text-decoration: none;
}
ul.noBullets
{
    list-style-type: none;
}
/* vars */
:root
{
    --color-background:black;
    --color-dark:#192842;
    --color-action:#E0D693;
    --color-light:#EEEEEE;
    --color-white:white;

    --font-standard: 'Inter', sans-serif;
    --font-title: 'Open Sans', sans-serif;
}
/* général */
html
{
    height: 100vh;
}
body
{
    min-height: 100vh;
    color:var(--color-white);
    font-family: var(--font-standard);
    font-size: 1em;
    text-align: justify;
}
header, footer
{
    background-color: var(--color-background);
}
main
{
    background-color: var(--color-dark);
}
.simpleLink
{
    background-color: var(--color-dark);
    padding:0.5em 1.2em;
    border-radius: 2em;
    font-size: 0.7em;
}
.headerLink
{
    background-color: var(--color-dark);
    padding:1em 1.5em;
    border-radius: 2em;
    margin-right: 1em;
}
a,
h1, h2, h3
{
    font-family: var(--font-title);
    color:var(--color-action);
    text-transform: uppercase;
}
h1
{
    margin: 0.3em 0 0.7em 0;
}
h2
{
    margin-bottom: 0.6em;
}
p
{
    margin-bottom:1em;
}
div
{
    color: var(--color-action);
    
}

.container
{
    text-align: center;   
}

#hello
{
    position: absolute;
    left: 10%;
    top: 35%;
}

/* header */
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1em;
}
/* header a
{
    padding:1em 1.5em;
    background-color: var(--color-dark);
    border-radius: 2em;
    margin-right: 1em;
} */
/* footer */
footer
{
    display: flex;
    align-items: center;
    padding:1em;
}
footer img
{
    width: 8em;
    margin-right: 2em;
}
footer nav a
{
    display: block;
}
footer nav a:not(:last-child)
{
    margin-bottom:0.5em;
}
/* main */
main
{
    padding:1em;
    min-height: calc(100vh - 17.9em);
}
/* liste d'images */
.accueilListe li
{
    overflow: hidden;
    background-color: var(--color-background);
    margin-top:1em;
    border-radius: 1em;
}
.accueilListe li img
{
    width: 100%;
}
.accueilListe li div
{
    padding:1em;
}
@media screen and (min-width:660px)
{
    .accueilListe
    {
        display: flex;
        /* flex-direction: row; */
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .accueilListe li
    {
        flex-basis: 30%;
        max-width: 20em;
    }
}
/* pages intérieures */
.ficheConteneur
{
    display: flex;
    flex-direction: column-reverse;
}
.ficheConteneur .gauche
{
    background-color: var(--color-background);
}
.ficheConteneur .gauche img
{
    width: 100%;
}
@media screen and (min-width:660px)
{
    .ficheConteneur
    {
        flex-direction: row;
    }
    .ficheConteneur .gauche
    {
        flex-basis: 13em;
        margin-right: 1em;
    }
    .ficheConteneur .gauche img
    {
        width: 15em;
    }
    .ficheConteneur .droite
    {
        border: 1px solid var(--color-background);
        padding: 0 1em 0 1em;
    }
}